html {
}

#container{
	display:block;
	width: 95%;
/*	height: 100%;
*/}

.comment{
	padding: 10px;
	margin-right: 6%;
	background-color: #EEE;
    font-family: Open Sans;
    font-weight: 100px;


}

.padding{
	padding-top: 20px;
}

.commentBox{
	margin-left: 5%;

}

#date{
	font-size: 14px;
}

